h1{
    font-family: Algerian,sans-serif;
    text-align: center;
}
table{
    border-collapse: collapse;
    overflow: hidden;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 20px;
    color: black;
    width: 100%;
    border: 1px solid #F0F1F0;

    border-radius: 15px 15px 0px 0px;
    text-align: left;
}
thead{
    background-color: #009979;
    color: white;
}
.trd:hover{
    background-color: #F2F3F2;
    color: #128F71;
}
.trd{
    border-bottom: 1px solid #DDDDDD;
}
th,td{
    padding: 15px;
}
#trdb{
     border-bottom: 4px solid #0D8F73;
}